* {
  box-sizing: border-box;
}
h1{
  text-align: center;
  margin:0px;
  margin-top: 50px;
}

.nav_bar{
  list-style-type: none;
  text-decoration: none;
  align-items: center;
  justify-content: flex-start;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 25px;
  display: flex;
}
nav{
  border-radius: 20px;
background-color: #4b114b;
  margin: 0px;
  padding: 15px;
  width: 80%;
  min-width: 100%;
}
li{
  padding-right: 40px;
}
a{
  color: black;
  text-decoration: none;
}


.sign{
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.sign img{

  width:  200px;
  height: 200px;
}
.img-container{
  align-content: flex-end;
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 100px));
  grid-template-rows: repeat(auto-fit, minmax(100px, 100px));
  min-height: 650px;
}
.img-container img{
  overflow: hidden;
  width:  100%;
  height: 100%;
  object-fit: contain;
  cursor: pointer;
}


.nav_bar a:hover{
  color: #b50d0d;
}


