* {
  box-sizing: border-box;
  overflow: hidden;
}

.nav_bar{
  list-style-type: none;
  text-decoration: none;
  align-items: center;
  justify-content: flex-start;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 25px;
  display: flex;
}

nav{
  border-radius: 20px;
  background-color: green;
  margin: 0px;
  padding: 15px;
  width: 80%;
  min-width: 100%;
}

li{
  padding-right: 40px;
}

a{
  text-decoration: none;
  color: black;
}

h1{
  font-family: sans-serif;
}
p{
  text-align: left;
  font-family: sans-serif;
  width:500px;
}

img{
  width:200px;
  height: 200px; 
}
.img-container{
position: relative;
  left: 80%;

  width: 250px;

  cursor:pointer;
}


.nav_bar a:hover{
  color: #b50d0d;
}
